# ReduceConvertI80.ipynb

In this file we:

> **1.** Read full NGSIM dataset as a dataframe

> **2.** Drop unnecessary columns (the dataset is huge)

> **3.** Select only the data from i-80 as its own dataset

> **4.** Convert the feet measurements into meters

> **5.** Push the new i-80 dataset to my ngsim MySQL database as a table called "ngsim_i_80"

In [ ]:
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
host1 = "localhost"
port1 = 3306
user1 = 'root'
database1 = "ngsim"
password1 = "dB79*dG2024!"

connection = mysql.connector.connect(
            host = host1,
            port = port1,
            user = user1,
            database = database1,
            password = password1
)

cursor = connection.cursor()

In [ ]:
df = pd.read_csv("NGSIM.csv")

In [ ]:
columns_to_keep = ["Vehicle_ID", "Global_Time", "v_Vel", "v_Acc", "Lane_ID", "Preceding", "Following", "Space_Headway", "Location"]
df = df[columns_to_keep]
print(df)

In [ ]:
i_80 = df[df["Location"] == "i-80"]
i_80.reset_index(drop=True, inplace=True)

In [ ]:
i_80["v_vel"] = i_80["v_vel"] / 3.281
i_80["v_Acc"] = i_80["v_Acc"] / 3.281
i_80["Space_Headway"] = i_80["Space_Headway"] / 3.281

In [ ]:
engine = create_engine(f'mysql+mysqlconnector://{user1}:{password1}@{host1}/{database1}')

i_80.to_sql(name='ngsim_i_80', con=engine, if_exists='replace', index=False, chunksize=1000)